img {
   /* max-height: 70% !important; 
   max-width: 70% !important; */
   border: none !important;
   box-shadow: none !important;
}
section {
   padding: 0px !important;
   /* max-height: 85% !important; */
}
